@font-face {
  font-family: Okayya;
  src: url('font/FZSJ-LGHXTJW.TTF');
}
body{
  margin: 0;
  padding: 0;
  background: #f4f0e6;
}
.clr{
  clear: both;
}
.paper{
  background: #ceefe4;
  display: block;
  width: 700px;
  min-height: 1000px;
  border-radius: 8px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 6em;
  font-size: 1.6em;
  line-height: 1.8em;
  font-family: Okayya;
}
.paper p{
  text-indent: 2em;
}
.paper p img{

}
.button{
  width: 50%;
  background: #9dd3a8;
  font-size: 2em;
  float: left;
  border-radius: 16px;
  margin: 0;
  color: #eaeaea;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid #d9d9f3;
}
.button:hover{
  cursor:pointer;
  background: #e90000;
}
#ywq{
  display: inline;
  position: fixed;
  bottom: 5px;
  left: 5px;
  box-sizing: border-box;
}
#ywq:hover{
  cursor: pointer;
  border: 5px dotted red;
}

@media screen and (max-width: 700px) {
  body{
    background: #ceefe4;
  }
  .paper{
    width: 100%;
  }
}
