body{
  margin: 0;
  padding: 0;
}
#topside{
  display: block;
  position: fixed;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: #eaeaea;
}
#topside h1{
  display: inline;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 120px;
  position: fixed;
  top: 25%;
  left: 10%;
  transform: translate(0, -50%);
}
#bottomside{
  display: block;
  position: fixed;
  width: 100%;
  height: 50%;
  background: #333;
  top: 50%;
  left: 0;
  
}
